<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        Store List
      </div>
      <div class="card-body ">
        <div class="form-group">
          <label>Store Name</label>
          <select #store_name class="form-control">
            <option disabled selected>Select Store Name</option>
            <option value="{{a}}" *ngFor="let a of store_list">
              {{a}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Customer Limit</label>
          <input type="number" #store_limit class="form-control" placeholder="In Store Customer Limit">
        </div>
        <div class="form-group">
          <label>COVID-19 Status</label>
          <select #store_status class="form-control">
            <option disabled selected>Select COVID-19 status</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="form-group">
          <label>Logo Upload</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
        <button type="button" (click)="Submit(store_name.value,store_limit.value,store_status.value)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>