  <div class="row">
  <div class="col-6">
  <table class="table table-hover">
    <thead>
      <th>Store Name</th>
      <th>Customer Limit</th>
      <th>Covoid Free Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of list">
        <td (click)="onEdit(emp)">{{emp.StoreName}}</td>
        <td (click)="onEdit(emp)">{{emp.customerLimit}}</td>
        <td (click)="onEdit(emp)">{{emp.covoidFreeStatus}}</td>
        <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <div class="col-6">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="storeDetails.id">
    <div class="form-group">
      <input name="StoreName" #StoreName="ngModel" ngModel [(ngModel)]="storeDetails.StoreName" class="form-control" placeholder="Store Name" disabled required>
      <div *ngIf="StoreName.invalid && StoreName.touched" class="validation-error">This field is required.</div>
    </div>
    <div class="form-group">
      <input name="customerLimit" #customerLimit="ngModel" ngModel [(ngModel)]="storeDetails.customerLimit" class="form-control" placeholder="customerLimit">
    </div>
    <div class="form-group">
      <label>COVID-19 Status</label>
      <select name="covoidFreeStatus" #covoidFreeStatus="ngModel" ngModel [(ngModel)]="storeDetails.covoidFreeStatus" class="form-control">
        <option disabled selected>Select COVID-19 status</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
    </div>
  
  </form>
  <!-- {{storeDetails.storeLogo}} -->
  <img [src]="storeLogo" width="30%">
  </div>
  </div>
  <br>
  <br>
  <br>
  <mat-card>
    <div class="row">
      <div class="col-6">
    <form>
      <div class="col-md-6">
        <div [formGroup]="adminStoreLogo">
          <input type="checkbox" [value]="list" formControlName="selectAll"
            (change)="selectAllCheckBox($event)">SelectAll
        </div>
        <div *ngFor="let a of list" [formGroup]="adminStoreLogo">
  
          <input type="checkbox" value={{a.id}} [checked]="a.checked" (change)="idChange($event)"
            formControlName="storeName">{{a.StoreName}}
        </div>
        <div class="col-md-6" [formGroup]="adminStoreLogo">
          <div class="text-center">
  
            <img [src]="imgSrc" accept="image/*" class="shoplogoimg" (click)="fileUploader.click()">
          </div>
          <div class="form-group" [formGroup]="adminStoreLogo">
            Select Shop Logo Here : <input type="file" #fileUploader class="form-control shop-name"
              formControlName="storeLogo" (change)="showPreview($event)">
          </div>
  
        </div>
        <button class="btn btn-success" (click)="addLogo()">Add Logo</button>
      </div>
    </form>
  </div>
  <div class="col-6">
      <form>
        <div class="col-md-6">
          <div [formGroup]="adminStoreCustomerLimit">
            <input type="checkbox" [value]="customerListLimitList" formControlName="selectAllCustomerLimit"
              (change)="selectAllCustomerLimitCheckBox($event)">SelectAll
          </div>
          <div *ngFor="let a of customerListLimitList" [formGroup]="adminStoreCustomerLimit">
    
            <input type="checkbox" value={{a.id}} [checked]="a.checked" (change)="idCustomerLimitChange($event)"
              formControlName="storeNameCustomerLimit">{{a.StoreName}}
          </div>
        </div>
        <div class="form-group" [formGroup]="adminStoreCustomerLimit">
          <label>Set Customer Limit Here</label>
          <input name="customerLimit" formControlName="customerLimitForAllStore" class="form-control" placeholder="customerLimit">
        </div>
        <button class="btn btn-success" (click)="addCustomerLimit()">Add Logo</button>
      </form>
    </div>
  </div>
  </mat-card>